
body {
    background: linear-gradient(360deg, #121212, #2b2b2b);
    color: #fff;
    padding: 40px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: 300px;
    margin: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card h5 {
    margin-bottom: 15px;
}

.card button {
    text-decoration: none;
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
    background-color: palevioletred;
}
