<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="complaint-form">
                    <h2 class="mb-4">Complaint Form</h2>
                    <form #myForm = "ngForm" (ngSubmit)="submit(myForm)">
                        <div class="mb-3">
                            <label for="plantationId" class="form-label">Plantation ID *</label>
                            <input type="text" [(ngModel)]="complaintObj.plantationId" name="plantationId" class="form-control" id="plantationId" required>
                        </div>
                        <div class="mb-3">
                            <label for="plantDescription" class="form-label">Description of the Plant *</label>
                            <textarea class="form-control" [(ngModel)]="complaintObj.deadPlant" name="plantDescription" id="plantDescription" rows="4" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="deadPlantQty" class="form-label">Quantity of Dead Plants *</label>
                            <input type="text" [(ngModel)]="complaintObj.plantQty" name="deadPlant" class="form-control" id="deadPlantQty" required>
                        </div>
                        <div class="mb-3">
                            <label for="otherProblems" class="form-label">Other Problems</label>
                            <textarea class="form-control" name="otherProblem" [(ngModel)]="complaintObj.otherProblem" id="otherProblems" rows="4"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Complaint</button>
                        <button type="button" class="btn btn-primary ms-3" (click)="dashboard()">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
   
</body>

</html>
