<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add AMC Plan - Nursery Plant Staff Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        referrerpolicy="no-referrer" rel="stylesheet" />
</head>
<body>
    <div class="container" style="height: 100vh;">
        <nav>
            <div class="col-lg-5">
                <button type="button" class="btn btn-primary" (click)="manageAMC()">Manage AMC</button>
            </div>
            <div class="col-lg-3">
                <button type="button" class="btn btn-primary mb-3" (click)="dashboard()">Dashboard</button>
            </div>
        </nav>

        <div class="form-container">
            <h2 class="mb-4">Add Plan</h2>
            <form #myForm = ngForm (ngSubmit)="addAmcPlan(myForm)">
                <div class="form-group">
                    <label for="planName">AMC Plant Name</label>
                    <input type="text" id="planName" name="planName" required [(ngModel)]="amcObj.amcName" >
                </div>

                <div class="form-group">
                    <label for="Duration">Duration</label>
                    <input type="text" id="Duration" name="Duration" required [(ngModel)]="amcObj.duration">
                </div>

                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input type="text" id="cost" name="cost" required [(ngModel)]="amcObj.cost">
                </div>

                <div class="form-group">
                    <label for="ingAddr">Other Details</label>
                    <input type="text" id="other details" name="other details"required [(ngModel)]="amcObj.otherDetails">
                </div>

                <button type="submit">Add Plan</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
